body {
  margin: 0px;
  color: white;
}

.start-screen {
  font-family: Helvetica;
  background-color: black;
  display: flex;
  flex-flow: column;
  height: 100%;
  text-align:  center;
  align-items:  center;
}

h3 {
  margin-top: 6%;
  margin-bottom: 3%;
}

.device {
   cursor: pointer;
   margin-bottom: 2%;
}

.button {
  width: 90%;
}
